absl-py==0.7.0
aniso8601==6.0.0
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
astor==0.7.1
attrs==18.2.0
autograd==1.2
awscli==1.11.13
backcall==0.1.0
beautifulsoup4==4.4.1
bleach==3.1.0
blinker==1.3
blis==0.2.4
boto==2.49.0
boto3==1.9.161
botocore==1.12.161
Bottleneck==1.2.1
Brlapi==0.6.4
cached-property==1.5.1
cachetools==3.1.1
certifi==2019.6.16
cffi==1.5.2
chardet==3.0.4
checkbox-support==0.22
Click==7.0
colorama==0.3.7
command-not-found==0.3
cryptography==1.2.3
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.2
defer==1.0.6
defusedxml==0.5.0
dill==0.2.9
docutils==0.12
en-core-web-sm==2.1.0
entrypoints==0.3
evdev==0.4.7
feedparser==5.1.3
Flask==1.0.3
Flask-RESTful==0.3.7
future==0.17.1
gast==0.2.2
gensim==3.7.3
google-auth==1.6.3
google-auth-oauthlib==0.3.0
google-pasta==0.1.7
googleads==19.0.1
graphviz==0.10.1
grpcio==1.18.0
guacamole==0.9.2
h5py==2.9.0
httplib2==0.9.1
idna==2.8
imbalanced-learn==0.4.3
imblearn==0.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.0
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
language-selector==0.1
lifelines==0.19.5
louis==2.6.4
lxml==4.3.3
Mako==1.0.3
Markdown==3.0.1
MarkupSafe==0.23
matplotlib==3.0.2
mistune==0.8.4
mock==2.0.0
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nbconvert==5.4.1
nbformat==4.4.0
nltk==3.4.3
notebook==5.7.4
numpy==1.16.2
oauthlib==3.0.1
onboard==1.2.0
padme==1.1.1
PAM==0.4.2
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pbr==5.1.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==3.1.2
plac==0.9.6
plainbox==0.25
plotly==3.6.1
ply==3.7
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.3
psycopg2==2.8.3
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.14
pycups==1.9.73
pycurl==7.43.0
pydot==1.2.3
Pygments==2.1
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
PyNaCl==1.0.1
pyparsing==2.3.1
pyrsistent==0.14.11
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.5.0
python-debian==0.1.27
python-systemd==231
pytz==2018.9
pyxdg==0.25
PyYAML==5.1
pyzmq==18.0.0
qtconsole==4.4.3
regex==2018.1.10
reportlab==3.3.0
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
retrying==1.3.3
roman==2.0.0
rsa==3.2.3
s3transfer==0.2.1
scikit-learn==0.20.2
scipy==1.2.1
screen-resolution-extra==0.0.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
smart-open==1.8.4
spacy==2.0.16
srsly==0.0.7
ssh-import-id==5.5
suds-jurko==0.6
system-service==0.3
system76driver==16.4.55
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
Theano==1.0.4
thinc==6.12.1
toolz==0.9.0
tornado==5.1.1
tqdm==4.32.1
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.25.3
usb-creator==0.3.0
vboxapi==1.0
virtualenv==15.0.1
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.2
xdiagnose==3.8.4.1
xkit==0.0.0
XlsxWriter==0.7.3
xmltodict==0.12.0
zeep==3.4.0
